<a href="https://colab.research.google.com/github/DharanidharanKK/DharanidharanKK/blob/main/PythonExperiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#QUESTION 1
# selection and iteration operators
# selection operator
num = int(input('enter a number'))
if num%2 == 0 :#
  print (' the num is even')
else :
  print ('the num is odd')

enter a number6
 the num is even

In [ ]:
#iteration operators - while
num = int(input('enter a num'))
count = 0
while count <= num:
    print(count)
    count += 1

numbers = list(map(int , input()))
sum = 0

for num in numbers:
    sum += num

print("Sum:", sum)

enter a num4
0
1
2
3
4
5
Sum: 5

In [ ]:
# QUESTION 2
# odd or even
num2 = int(input("Enter a number: "))
if num2 % 2 == 0 :
  new = 0
  real =num2
  while num2 > 0:
        digit = num2 % 10
        new = new * 10 + digit
        num2 = num2 // 10
  if real == new:
      print("The number is a palindrome.")
  else:
      print("The number is not a palindrome.")
else :
  a=0
  b=1
  count1 = 0
  while count1 <= num2:
    c = a+b
    a = b
    b = c
    count1 += 1
  print ('the factorial:',c)
  print ('number digit factorial:',len(str(c)))

Enter a number: 2
The number is a palindrome.

In [ ]:
# QUESTION 3
# string and its operation
str = " Hello, World! "
print(str.lower())
print(str.upper())
print(str.strip())
print(str.split(","))
print(str.replace("Hello", "Hi"))
print(str.find("World"))

 hello, world!
 HELLO, WORLD!
Hello, World!
[' Hello', ' World! ']
 Hi, World!
8

In [4]:
# string slicing
str = "hello ,world!"
print(str[0:5])
print(str[8:])
print(str[:5])
print(str[-6:])
print(str[0:11:2])
print(str[::3])
print(str[-6:-1])
print(str[:-8])
print(str[::-1])

hello
orld!
hello
world!
hlo,ol
hl,r!
world
hello
!dlrow, olleh

In [ ]:
#QUESTION 4
str1 = 'hello world'
str2 = 'hello'
count2 = 0
for i in str2:
  for j in str1:
    if j == i :
      count2 +=1
      break
    else :
      continue
if count2 == len(str2):
  print ('YES')
else:
  print ('NO')

NO

In [ ]:
# QUESTION 5 - list and its operation
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
my_list.extend([5, 6, 7])
print(my_list)
my_list.insert(2, 10)
print(my_list)
my_list.remove(4)
print(my_list)
item = my_list.pop(3)
print(item)
print(my_list)
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:4]
print(sub_list)
# Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 3, 4, 5, 6, 7]
[1, 2, 10, 3, 5, 6, 7]
3
[1, 2, 10, 5, 6, 7]
[1, 2, 5, 6, 7, 10]
[10, 7, 6, 5, 2, 1]
[2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [5]:
# QUESTION 6 - postive and negative indexing
my_list2 = [10, 20, 30, 40, 50]

# Positive indexing
print(my_list2[0])
print(my_list2[2])
print(my_list2[4])

# Negative indexing
print(my_list2[-1])
print(my_list2[-3])
print(my_list2[-5])

10
30
50
50
30
10

In [ ]:
 # QUESTION 7
new_list = list(map(int, input().split()))
for i in range(len(new_list)-1):
  if new_list[i] > new_list[i+1]:
    print ('the list is not in ascending order')
  else:
    print ('the list is in ascending order')

22 33 44 55
the list is in ascending order
the list is in ascending order
the list is in ascending order

In [ ]:
# QUESTION 8 - tuples and its operation
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8)

# Concatenation
tuple3 = tuple1 + tuple2
print(tuple3)

# Repetition
tuple4 = tuple1 * 3
print(tuple4)

# Indexing
print(tuple1[0])
print(tuple1[-1])

# Slicing
print(tuple1[1:3])

# Membership
print(1 in tuple1)
print(6 in tuple1)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
5
(2, 3)
True
False

In [ ]:
# QUESTION 9
tuple_1 = tuple(map(str, input().split()))
str_1 = ''
for i in tuple_1:
  str_1 = str_1 + i

print (str_1)

s t r i n g
string

In [ ]:
# QUESTION 10
tuple_2 = tuple(map(int , input().split()))
new_tup = tuple_2[::-1]
print (new_tup)

2 3 4 5 6
(6, 5, 4, 3, 2)

In [ ]:
# QUESTION 11 - set and its operation
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8}

# Adding elements
set1.add(6)
set2.add(1)

# Removing elements
set1.remove(3)
set2.remove(4)

# Checking for membership
print(1 in set1)
print(7 in set1)

# Set operations
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2)

# isdisjoint
print(set1.isdisjoint(set2))

# issubset
print(set1.issubset(set2))

# issuperset
print(set2.issuperset(set1))

# pop
print(set1.pop())

# remove
print(set1.remove(2))

# clear
set1.clear()
print(set1)

True
False
{1, 2, 4, 5, 6, 8}
{1, 2, 6}
{4, 5}
{4, 5, 8}
False
False
False
1
None
set()

In [ ]:
# QUESTION 12
set1=set(map(int, input('enter set of values :').split()))
subset=set(map(int, input('enter subset of values :').split()))
print(subset.issubset(set1))
# different method
'''for item in subset:
  if item not in set1:
    print ("it isn't subset")
    break

  else:
    print ("it is subset")'''

enter set of values :2 3 4 5
enter subset of values :2 3 5 6
False

'for item in subset:\n  if item not in set1:\n    print ("it isn\'t subset")\n    break\n\n  else:\n    print ("it is subset")'

In [ ]:
# QUESTION 13 - dictionaries and its operations
dict = {"key1": "value1", "key2": "value2"}

# Accessing elements
print(dict["key1"])

# Adding elements
dict.update({"key3": "value3"})
# Removing elements
dict.pop("key2")
# Checking for membership
print("key2" in dict)
# Keys
print(dict.keys())
# Values
print(dict.values())
# Items
print(dict.items())
# Len
print(len(dict))
# Clear
dict.clear()
print(dict)

value1
False
dict_keys(['key1', 'key3'])
dict_values(['value1', 'value3'])
dict_items([('key1', 'value1'), ('key3', 'value3')])
2
{}

In [6]:
#QUESTION 14
def iterate_over_dictionary(dictionary):
  for key, value in dictionary.items():
    print(f"Key: {key}, Value: {value}")


dictionary = {"name": "John Doe", "age": 30, "occupation": "Software Engineer"}

iterate_over_dictionary(dictionary)

Key: name, Value: John Doe
Key: age, Value: 30
Key: occupation, Value: Software Engineer